@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
   font-family: var(--font-poppins), sans-serif;
}

.code {
  font-family: var(--font-geist-mono), monospace;
}


.image{
  /* background-image: url(../../public/swiftdeliver.jpg); */
  background-image: url(../../../public/swiftdeliver.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.image-about {
  background-image: url(../../../public/about.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-career {
  background-image: url(../../../public/bg-careet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .image-about{
  background-image: url(../../../public/about.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
} */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}
